body{
    background: cadetblue;
}

.panel {
    right: 9px;
    position: absolute;
    padding: 5px;
    background: burlywood;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right {
    float: right;
}

.fab-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fab-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: green;
    background: radial-gradient(#91FF00, #005200);
}